.wy-nav-side:lang(ar), .wy-nav-content:lang(ar), .wy-nav-top:lang(ar) {
    direction: rtl;
}

.wy-plain-list-disc:lang(ar) li, .rst-content:lang(ar) .section:lang(ar) ul li, .rst-content:lang(ar) .toctree-wrapper:lang(ar) ul li, article:lang(ar) ul li {
    margin-right: 24px;
}

.wy-breadcrumbs:lang(ar) li.wy-breadcrumbs-aside:lang(ar) {
    float: left;
}

.float-right:lang(ar) {
    float: left;
}

.wy-plain-list-decimal:lang(ar) li, .rst-content:lang(ar) .section:lang(ar) ol li, .rst-content:lang(ar) ol.arabic:lang(ar) li, article:lang(ar) ol li {
    margin-right: 24px;
}